body{
	padding-top: 33px ;
}
.part-menu{
	position: relative;
	top: inherit;
}

/* --------------------------------------------------- Part Side Banner --------------------------------------------------- */

.slide-herobanner{
	height: 500px;
	overflow: hidden;
}
.slide-herobanner .slide{
	width: 100%;
	height: 500px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-color: #f0f0f0;
}
.part-banner .owl-theme .owl-controls .owl-page span{
	margin: 5px;
}
.part-banner .owl-theme .owl-controls{
	text-align: center;
	top: -30px;
}

/* --------------------------------------------------- Part Detail Museum --------------------------------------------------- */

.box-timeopen .text-title{
	margin-bottom: 10px;
	height: inherit;
}
.box-timeopen .text-date2,
.box-timeopen .text-time{
	margin-left: 20px;
	font-style: italic;
	font-size: 13px;
	line-height: 25px;
}


/* ---------------------- Top ---------------------- */
.box-detail-museum .box-top{
	padding: 45px 0 25px;
}
.box-detail-museum .box-top .box-left{
	border-right : 1px solid #efefef;
	width: 536px;
	margin-left: 20px;
}
.box-detail-museum .box-top .box-title{
	font-size: 50px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.box-detail-museum .box-top img{
	margin-bottom: 20px;
}
.box-detail-museum .box-top .box-title span{
	font-size: 45px;
	color: #8e070b;
	line-height: 15px;
}

.box-detail-museum .box-top .box-right{
	width: 590px;
}
.box-detail-museum .box-top .text-title{
	font-size: 22px;
	margin-bottom: 10px;
}
.box-detail-museum .box-top .text-title2{
	font-size: 22px;
	margin-left: 45px;
	line-height: 30px;
}
.box-detail-museum .box-top .text-title2 span{
	font-size: 20px;
	color: #535353;
	display: inline-block;
}
.box-detail-museum .box-top .text-title2 a{
	color: #b28f50;
	text-decoration: underline;
	font-size: 13px;
	display: inline-block;
	font-style: italic;
}
.box-detail-museum .box-top .row-text{
	font-style: italic;
	display: table;
	padding: 0 10px;
	margin-left: 45px;
}
.box-detail-museum .box-top .row-text p{
	float: left;
	height: 26px;
	line-height: 26px;
}
.box-detail-museum .box-top .row-text .text-1{ width: 400px; }
.box-detail-museum .box-top .row-text .text-2{ width: 45px; }
.box-detail-museum .box-top .row-text .text-2{ width: 40px;}

.MarginB{
	margin-bottom: 13px;
}

.text-title2.icon-money:before{
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-money.png) no-repeat center center;
	position: absolute;
	left: -28px;
	top: 7px;
}



/* ---------------------- Middle ---------------------- */

.box-detail-museum .box-middle {
	background-color: #f2f2f2;
	padding: 25px 0;
}
.box-detail-museum .box-middle .box-left{
	margin-left: 20px
}
.box-detail-museum .box-middle .box-right{
	margin-right: 92px;
}
.box-detail-museum .box-middle .box-right p {
	width: 450px;
	font-size: 14px;
	line-height: 25px;
	margin-top: 12px;
	font-style: italic;
}
.box-detail-museum .box-middle .box-right p span{
	color: #535353;
}

/* ---------------------- Bottom ---------------------- */

.box-detail-museum .box-bottom {
	background-color: #6e0904;
	padding: 30px 0;
}
.box-detail-museum .box-bottom .box-btn{
	display: table;
	margin: 0 auto;
}
.box-detail-museum .box-bottom .box-btn a{
	margin: 0 35px;
	width: 180px;
	height: 35px;
	line-height: 35px;
}
.box-detail-museum .box-bottom .box-btn a:hover{
	background-color: #b28f50;
	color: #000;
}





/* --------------------------------------------------- Part Event --------------------------------------------------- */

.part-event{
	background-color: #ececec;
	padding: 80px 0 45px;
}
.box-date-main{
	width: 640px;
}
div.text-title{
	margin: 10px 15px;
	float: left;
	font-size: 75px;
	text-align: center;
	text-transform: uppercase;
	width: 290px;
	padding: 25px 0;
}
div.text-title img{
	margin: 0 auto;
}
.box-tumb-date{
	float: left;
	width: 130px;
	height: 130px;
	border: 4px solid #fff;
	background-color: #e4e4e4;
	margin: 8px 15px;
}
.box-tumb-date .text-date{
	padding:  6px 18px 0;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
.box-tumb-date .text-date span{
	font-size: 72px;
	letter-spacing: 3px;
	text-align: center;
	line-height: 54px;
	margin-top: 5px;
}
.box-tumb-date .text-month{
	width: 100%;
	background-color: #000;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	color: #fff;
	position: absolute;
	bottom: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box-tumb-date:hover .text-month{
	background-color: transparent;
}

.sun{ background-color: #7d0800; }
.mon{ background-color: #d4aa00; }
.tue{ background-color: #a72b80; }
.wed{ background-color: #256031; }
.thu{ background-color: #b54c0d; }
.fri{ background-color: #2b6ba7; }
.sat{ background-color: #422a6b; }
.today{ border-color: #000; }

.btn-all{
	border-color: #6e0904;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn-all:hover{ color: #fff; background-color: #000; }
.btn-all .box-text{
	display: table;
	width: 100%;
	height: 100%;
}
.btn-all .box-text p{
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}
.btn-all .box-text p span{
	width: 25px;
	height: 25px;
	display: block;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: url(../images/icon-arrow-white.png) no-repeat center top #000;
	margin: 10px auto 0;
	background-position: -2px -32px;
}
.btn-all:hover .box-text p span{
	background-color: #6e0904;
}

.box-slideevent-main{
	width: 545px;
/* 	height: 430px; */
	border-bottom: 4px solid #000;
	background-color: #fff;
	margin-top: 10px;
}
.box-slideevent-main .box-content-slide .box-left{
	width: 250px;
}
.box-slideevent-main .box-content-slide .box-right{
	width: 295px;
	padding: 4px;
}
.box-slideevent-main .box-content-slide .box-right .box-pic{
	width: 100%;
}
.box-slideevent-main .box-content-slide .box-right .box-pic img{
	width: 100%;
}
.box-slideevent-main .box-content-slide .box-right .box-tag-cate{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	left: 0px;
	bottom: 0px;
	width: 287px;
	line-height: 27px;
	font-size: 14px;
	color: #fff;
	padding: 0 10px 0 30px;
	text-transform: uppercase;
}
.box-slideevent-main .box-content-slide .text-title:hover{
	color: #000;
}
.box-slideevent-main .box-content-slide .box-date{
	width: 100%;
	height: 130px;
	padding: 0 8px;
}
.box-slideevent-main .box-content-slide .box-date .box-left{
	font-size: 100px;
	color: #fff;
	width: auto;
	line-height: 135px;
}
.box-slideevent-main .box-content-slide .box-date .box-right{
	font-size: 22px;
	width: auto;
	text-transform: uppercase;
	color: #fff;
	line-height: 38px;
	border-left: 1px solid #fff;
	width: 101px;
	padding: 30px 0 0 10px;
	margin-top: 25px;
}
.box-slideevent-main .box-content-slide .box-date .box-right span{
	font-size: 16px;
	line-height: 12px;
}
.box-slideevent-main .box-content-slide .box-text{
	padding: 20px 0px 20px 10px;
}
.box-slideevent-main .box-content-slide .box-text:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -8px;
	left: 25px;
}
.box-slideevent-main .box-content-slide .text-date{
	margin: 11px 0;
}
.box-slideevent-main .box-content-slide .text-des{
	height: 60px;
	overflow: hidden;
	margin-bottom: 25px;
}
.box-slideevent-main .box-float{
	position: absolute;
	bottom: 0px;
	width: 240px;
	left: 10px;
}
.box-slideevent-main .box-float .box-btn-left{
	float: left;
}
.box-slideevent-main .box-float .box-btn-left .btn.black{
	height: 31px;
	line-height: 31px;
	padding: 0 20px;
	text-transform: uppercase;
/* 	font-size: 18px; */
	display: table;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: left;
	background-color: #000;
	color: #fff;
	width: 120px;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px;
}
.box-slideevent-main .box-float .box-btn-left .btn.black:hover{
	background-color: #6e0904;
	color: #fff;
}
.box-slideevent-main .box-float .box-btn-right{
	float: right;
	background-color: #000;
}
.box-slideevent-main .box-float .btn-arrow{
	width: 31px;
	height: 31px;
	display: block;
	background: url(../images/icon-arrow-white.png) no-repeat center top #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	float: left;
}
.box-slideevent-main .box-float .btn-arrow.left{
	background-position: 0px 1px;
}
.box-slideevent-main .box-float .btn-arrow.right{
	background-position: 1px -29px;
}
.box-slideevent-main .box-float .btn-arrow.left:hover,
.box-slideevent-main .box-float .btn-arrow.right:hover{
	background-color: #6e0904;
}






.box-slideevent-main .box-float .box-number{
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	float: left;
	display: block;
	color: #a6a6a6;
	font-size: 16px;
	text-align: center;
	padding: 0 4px;
	line-height: 18px;
	top: 7px;
}
.box-slideevent-main .box-float .box-number p{
	float: left;
}
.box-slideevent-main .box-float .box-number span{
	font-size: 12px;
}
.box-slideevent-main .box-float .box-number .ofCenter{
	margin: 0 3px;
}


/* --------------------------------------------------- Part News --------------------------------------------------- */

.part-news{
	padding: 50px 0;
}
.part-news .box-title{
	font-size: 75px;
	color: #000;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;

}
.part-news .box-title img{
	margin: 0 auto;
}
.part-news .box-top .box-left{
	width: 290px;
}
.part-news .box-top .box-left .text-title{
	font-size: 60px;
	text-transform: uppercase;
	text-align: left;

	padding: 30px 0;
	margin: 0 0 10px;
}
.part-news .box-top .box-left .text-title img{
	margin: 0;
}
.part-news .box-top .box-left .text-title span{
	font-size: 50px;
	color: #6e0904;
	line-height: 13px;
}
.part-news .box-top .box-left .btn{
	height: 31px;
	line-height: 31px;
	padding: 0 20px;
	text-transform: uppercase;
/* 	font-size: 18px; */
	display: table;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: left;
	text-align: center;
	margin: 40px 0 0 0;
	width: 120px;
	font-family: sans-serif;
	font-size: 13px;
}
.part-news .box-top .box-left .btn.black{
	background-color: #000;
	color: #fff;
}
.part-news .box-top .box-left .btn.black:hover{
	background-color: #6e0904;
}
.part-news .box-top .box-news-bold{
	border: 4px solid #000;
	padding: 7px;
	width: 599px;
}
.part-news .box-top .box-news-bold .box-pic{
	float: left;
}
.part-news .box-top .box-news-bold .box-tag-cate{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	left: 0px;
	bottom: 0px;
	width: 100%;
	line-height: 27px;
	font-size: 14px;
	color: #fff;
	padding: 0 10px 0 30px;
	text-transform: uppercase;
	font-family: sans-serif;
}
.part-news .box-top .box-news-bold .box-text{
	float: right;
	width: 275px;
	margin-right: 3px;
}
.part-news .box-top .box-news-bold .text-title:hover{
	color: #000;
}
.part-news .box-top .box-news-bold .box-text .text-date{
	margin: 10px 0;
}
.part-news .box-top .box-news-bold .box-text .text-des{
	margin-bottom: 17px;
	height: 60px;
	overflow: hidden;
}
.part-news .box-bottom .box-news-main{
	margin-top: 15px;
	display: table;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 15px;
}
.part-news .box-bottom .box-news {
	float: left;
	width: 275px;
}
.part-news .box-bottom .box-news.mid{
	margin: 0 39px;
}
.part-news .box-bottom .box-news .box-pic{
	float: none;
}
.part-news .box-bottom .box-news .box-tag-cate{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	left: 0px;
	bottom: 0px;
	width: 100%;
	line-height: 27px;
	font-size: 13px;
	color: #fff;
	padding: 0 10px 0 30px;
	text-transform: uppercase;
}

.part-news .box-bottom .box-news .box-text{
	float: none;
}
.part-news .box-bottom .box-news .box-text .text-title{
	height: 23px;
	overflow: hidden;
	margin-top: 10px;
}
.part-news .box-bottom .box-news .box-text .text-title:hover{
	color: #000;
}
.part-news .box-bottom .box-news .box-text .text-date{
	margin: 10px 0;
}
.part-news .box-bottom .box-news .box-text .text-des{
	margin-bottom: 15px;
	height: 60px;
	overflow: hidden;
}

.part-news .box-museum-news-main{
	border: 4px solid #000;
	width: 280px;
}
.box-museum-news-main .box-title{
	width: 100%;
	background-color: #000;
	text-align: left;
	font-size: 53px;
	color: #fff;
	padding: 19px 10px;
	margin-bottom: 0px;
}
.box-museum-news-main .box-title img{
	margin: 0;
}
.box-museum-news-main .box-title span{
	color: #871b15;
	font-size: 60px;
	line-height: 20px;
}
.box-museum-news-main .box-museum-news{
	padding: 0 7px;
}
.box-museum-news-main .museum-news{
	padding: 10px 0;
	border-bottom: 1px solid #d2d2d2;
}
.box-museum-news-main .museum-news .box-pic{
	width: 125px;
	float: left;
}
.box-museum-news-main .museum-news .box-text{
	width: 125px;
	float: right;
	margin-top: 5px;
}
.box-museum-news-main .museum-news .text-title{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
	height: 40px;
	overflow: hidden;
}
.box-museum-news-main .museum-news .text-title:hover{
	color: #000;
}
.box-museum-news .box-btn{
	display: table;
	margin: 19px auto;
}

/* --------------------------------------------------- Part Data Network --------------------------------------------------- */

.part-datanetwork{
	background-color: #6e0904;
	padding: 40px 0;
}
.part-datanetwork .slide-network{
	width: 1130px;
	margin: 0 auto;
}
.part-datanetwork .box-title{
	font-size: 53px;
	color: #000;
	display: table;
	margin: 0 auto 40px;
	text-transform: uppercase;
	line-height: 28px;
}
.part-datanetwork .box-title span{
	font-size: 75px;
	color: #fff;
	line-height: 55px;
}
.box-network{
	width: 245px;
	margin: 0 auto;
}
.box-network .box-text .text-title{
	color: #fff;
}
.box-network .box-text .text-title:hover{
	color: #000;
}
.box-network .box-text .text-location{
	color: #BBBBBB;
	margin: 10px 0 5px;
}
.box-network .box-pic{
	border: 5px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 30px;
}
.part-datanetwork .box-btn{
	display: table;
	margin: 35px auto 0;
}
.part-datanetwork .box-btn a{
	width: 175px;
	height: 35px;
	line-height: 35px;
}

.part-datanetwork .btn-arrow{
	width: 31px;
	height: 31px;
	display: block;
	background: url(../images/icon-arrow-white.png) no-repeat center top #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	position: absolute;
	top: 86px;
}
.part-datanetwork .btn-arrow.left{
	background-position: 0px 1px;
	left: 5px;
}
.part-datanetwork .btn-arrow.right{
	background-position: 1px -29px;
	right: 5px;
}
.part-datanetwork .btn-arrow.left:hover,
.part-datanetwork .btn-arrow.right:hover{
	background-color: #b28f50;
}



/* --------------------------------------------------- Part Exhibition --------------------------------------------------- */
.part-exhibition{
	padding: 45px 0;
}
.box-exhibition-main{
	width: 590px;
	height: 325px;
	float: left;
	border: 4px solid #000;
	padding: 20px 20px 0 17px;
}
.box-exhibition-main .box-title{
	font-size: 53px;
	color: #000;
	text-transform: uppercase;
	line-height: 29px;
    margin-bottom: 15px;}
.box-exhibition-main .box-title span{
	font-size: 60px;
	color: #6e0904;
	line-height: 42px;
}
.box-exhibition-main .box-top .box-btn{
	position: absolute;
	top: 0px;
	right: 0px;
}
.box-exhibition-main .box-exhibition .box-text{
	float: left;
	width: 280px;
	padding-top: 10px;
}
.box-exhibition-main .box-exhibition .box-pic{
	float: right;
	width: 240px;
}
.box-exhibition-main .box-exhibition .text-title{
	height: 27px;
	overflow: hidden;
}
.box-exhibition-main .box-exhibition .text-title:hover{
	color: #000;
}
.box-exhibition-main .box-exhibition .text-date{
	margin: 10px 0;
}
.box-exhibition-main .box-exhibition .text-des{
	margin-bottom: 19px;
}
.box-exhibition-main .owl-theme .owl-controls{
	margin-top: 10px;
}


/* --------------------------------------------------- Part Archive --------------------------------------------------- */

.box-archive-main{
	width: 590px;
	height: 325px;
	float: right;
	border: 4px solid #000;
	padding: 20px 20px 0 17px;
}
.box-archive-main .box-title{
	font-size: 53px;
	color: #000;
	text-transform: uppercase;
	line-height: 29px;
	margin-bottom: 15px;
}
.box-archive-main .box-title span{
	font-size: 60px;
	color: #6e0904;
	line-height: 42px;
}
.box-archive-main .box-top .box-btn{
	position: absolute;
	top: 0px;
	right: 0px;
}
.box-archive-main .box-archive .box-text{
	float: left;
	width: 280px;
	padding-top: 10px;
}
.box-archive-main .box-archive .box-pic{
	float: right;
	width: 240px;
}
.box-archive-main .box-archive .text-title{
	height: 27px;
	overflow: hidden;
}
.box-archive-main .box-archive .text-title:hover{
	color: #000;
}
.box-archive-main .box-archive .text-date{
	margin: 10px 0;
}
.box-archive-main .box-archive .text-des{
	margin-bottom: 19px;
	height: 60px;
	overflow: hidden;
}
.box-archive-main .owl-theme .owl-controls{
	margin-top: 10px;
}


/* --------------------------------------------------- Part KnowLedge --------------------------------------------------- */

.box-knowledge-main{
	width: 100%;
	float: left;
	clear: both;
	background-color: #000;
	padding: 25px 18px;
	margin-top: 22px;
}
.box-knowledge-main .box-left{
	height: 325px;
	width: 330px;
	border-right: 1px solid #1a1a1a;
}
.box-knowledge-main .box-title{

	font-size: 53px;
	color: #fff;
	text-transform: uppercase;
	line-height: 29px;
}
.box-knowledge-main .box-title span{
	font-size: 75px;
	color: #6e0904;
	line-height: 52px;
}
.box-knowledge-main .box-left .box-btn{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.box-knowledge-main .box-left .box-btn a.btn:hover{
	background-color: #6e0904;
}
.box-knowledge-main .box-knowledge-wrap{
	display: table;
	margin: 0 auto;
}
.box-knowledge-main .box-knowledge{
	float: left;
	margin: 0 5px;
	width: 197px;
}
.box-knowledge-main .box-knowledge .text-title{
	margin: 10px 0;
	color: #CCCCCC;
}
.box-knowledge-main .box-knowledge .text-title:hover{
	color: #b28f50;
}
.box-knowledge-main .box-knowledge .text-des{
	color: #878787;
	height: 40px;
	overflow: hidden;
	margin: 10px 0;
}
.box-knowledge-main .box-knowledge	 .box-btn a.btn:hover{
	background-color: #b28f50;
	color: #000;
}

.box-pic-thumb img{
    height: 180px;
    width: 240px;
}

.ve-text-des
{
	height:60px;
	max-height:60px;
}

.ve-box-text
{
	max-height:180px;
	height:180px;
}
