.box-category-main.BBlack .box-news-main{
	background-color: #000;
}
.box-category-main.BBlack .box-tumb .text-title{
	color: #ccc;
}
.box-category-main.BBlack .box-tumb .text-date,
.box-category-main.BBlack .box-tumb .text-des{
	color: #878787;
}
.box-category-main.BBlack .box-tumb .text-title:hover{
	color: #b28f50;
}
.box-category-main.BBlack .box-tumb .box-btn a.btn.red:hover {
	background-color: #b28f50;
	color: #000;
}
.box-category-main.BGray .box-title{
	background-color: #e0e0e0;
}
.box-category-main.BGray .box-title h2{
	color: #6e0904;
}
.box-category-main.BGray .box-news-main{
	border-color: #e0e0e0;
}


/* --------------------------------------------------- Table --------------------------------------------------- */

.box-table-webboard{
	margin: 20px 0;
}
.table-row.head{
	width: 100%;
}
.table-row.head>div{
	display: table-cell;
	text-align: center;
	color: #fff;;
	background-color: #6e0904;
	height: 35px;
	line-height: 35px;
}
.table-row>div{
	display: table-cell;
	text-align: center;
	border-right: 1px solid #fff;
}
.table-row.list{
	border-bottom: 1px solid #e5e5e5;
}
.table-row.list>div{
	padding: 15px 0;
}

.table-row.head .column.list,
.table-row .column.list{
	width: 90px;
}
.table-row.head .column.topic,
.table-row .column.topic{
	width: 300px;
	text-align: left;
}
.table-row.head .column.topic{
	text-align: center;
}
.table-row.list .column.topic{
	padding: 15px 20px;
}

.table-row.head .column.name,
.table-row .column.name{
	width: 95px;
}
.table-row.head .column.reply,
.table-row .column.reply{
	width: 95px;
}
.table-row.head .column.view,
.table-row .column.view{
	width: 95px;
}
.table-row.head .column.date,
.table-row .column.date{
	width: 150px;
}
.table-row.list .column.topic a:hover{
	color: #6e0904;
}


/* --------------------------------------------------- Webboard All --------------------------------------------------- */

.box-table-webboard.all{
	margin: 30px 0 0;
}
.box-table-webboard.all .table-row.head .column.topic, .box-table-webboard.all .table-row .column.topic{
	width: 355px;
}
.box-table-webboard.all .table-row.head>div{
	background-color: #000;
}
.box-right.main-content .box-title-system .box-btn .btn.red.Atopic{
	height: 31px;
	line-height: 31px;
}
.box-right.main-content .box-title-system .box-btn .btn.red.Atopic:before{
	content: '';
	width: 31px;
	height: 31px;
	background: url(../images/icon-plus2.png) center center no-repeat #6e0904;
	display: block;
	position: absolute;
	top: 0px;
	left: -32px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box-right.main-content .box-title-system .box-btn .btn.red.Atopic:hover:before{
	background-color: #000;
}

.box-table-webboard.all .table-row.list:nth-child(odd){
	background-color: #f3f3f3;
	border-right: 1px solid #f3f3f3;
}
.box-table-webboard.all .table-row.list:nth-child(odd)>div{
	border-right: 1px solid #f3f3f3;
}

.box-btn.topic{
	float: right;
}
.box-btn.topic a.btn{ 
	height: 25px;
	line-height: 25px;
}


/* --------------------------------------------------- Webboard Create Topic --------------------------------------------------- */

.box-create-topic-main{
	width: 792px;
	margin: 0 auto;
}
.box-create-topic-main .box-row{
	margin-bottom: 10px;
}
.box-create-topic-main .box-plugin-text{
	margin-bottom: 20px;
	margin-top: 20px;
}
.box-create-topic-main .box-row.disible{
	color: #878787;
}
.box-create-topic-main .box-row .box-left{
	width: 90px;
	height: 35px;
	line-height: 35px;
}
.box-create-topic-main .box-row .box-left span{
	display: inline-block;
	color: #6e0904;
	margin-left: 8px;
}
.box-create-topic-main .box-row .box-right{
	width: 702px;
	height: 35px;
	line-height: 35px;
}
.box-create-topic-main .box-row .box-right input[type="text"]{
	    width: 100%;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #989898;
	line-height: 35px;
	padding: 0 10px;
	font-family: sans-serif;
}
.box-create-topic-main .box-btn{
	margin: 40px auto;
	display: table;
}
.box-create-topic-main .box-btn a{
	margin: 0 20px;
}
.box-create-topic-main .condition{
	width: 840px;
	margin: 15px auto;
	text-align: center;
	color: #878787;
	font-size: 11px;
	line-height: inherit;
}
.box-create-topic-main .condition span{
	font-weight: bold;
	display: inline-block;
}


/* --------------------------------------------------- Webboard Topic --------------------------------------------------- */

.box-topic-main{
	width: 100%;
}
.box-topic-main .box-top{
	background-color: #000;
	padding: 15px 0px;
}
.box-topic-main .box-bottom{
	background-color: #e0e0e0;
	font-size: 16px;
	line-height: 25px;
}

.box-topic-main .box-topic-title{
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	width: 792px;
	margin: 0 auto;
}
.box-topic-main .box-topic-detail{
	width: 792px;
	margin: 0 auto;
	padding: 30px 0;
}
.box-topic-main .box-bottom hr{
	background-color: #fff;
	width: 840px;
	margin: 0 auto;
}
.box-topic-main .box-footer-topic{
	width: 792px;
	margin: 0 auto;
	padding: 10px 0;
}
.box-topic-main .box-footer-topic .box-left p{
	font-weight: bold;
}

.box-replay-main{
	font-size: 16px;
	line-height: 25px;
}
.box-replay-main .box-top p{
	width: 792px;
	margin: 0 auto;
	padding: 30px 0 10px;
	font-weight: bold;
}
.box-replay-main .box-replay-detail{
	width: 792px;
	margin: 0 auto;
	padding: 10px 0;
	color: #878787;
}
.box-replay-main .box-footer-replay{
	width: 792px;
	margin: 0 auto;
	padding: 20px 0;
	font-weight: bold;
	color: #878787;
}
.box-replay-main .box-bottom hr{
	width: 840px;
	margin: 0 auto;
}
.box-pagination-main.pageTopic{
	width: 840px;
	margin: 0 auto;
}


.box-form-reply{
	width: 100%;
	margin-top: 20px;
}
.box-form-reply .text-title{
	font-size: 20px;
	line-height: 30px;
	width: 792px;
	margin: 0 auto;
}
.box-form-reply textarea{
	width: 840px;
	height: 160px;
	background: #fbfbfb;
	border: 1px solid #989898;
	resize: none;
	padding: 0 10px;
	line-height: 20px;
	margin: 10px auto;
	display: block;
}
.box-form-reply .condition{
	width: 840px;
	margin: 15px auto;
	text-align: center;
	color: #878787;
	font-size: 11px;
	line-height: inherit;
}
.box-form-reply .condition span{
	font-weight: bold;
	display: inline-block;
}
.box-form-reply .box-btn{
	display: table;
	margin: 30px auto 50px;
}




