.box-content-main{
	width: 800px;
	font-size: 21px;
	color: #fff;
}
.box-btn.submit{
	margin-top: 40px;
}
.box-btn.submit .btn.black{
	margin: 0 20px;
}
#register input[type="radio"]{
	margin-right: 20px;
}
.box-select-type{
	display: table;
	margin: 20px auto 30px;
}
.box-select-type>div{
	display: inline-block;
	margin: 0 50px;
	font-size: 16px;
}