.box-pic-main{
	margin-bottom: 10px;
}
.box-right.main-content p{
	font-size: 14px;
	line-height: 20px;
}

.line-gray{
	width: 800px;
}
.box-text1-main, .box-text2-main {
    padding: 40px 30px;
    width: 800px;
    margin: 0 auto;
}
.box-text1-main>p{
	margin-top: 20px;
}
.box-text1-main p.text1{
	margin-top: 0px;
}
.box-text1-main p.text2{
	margin-top: 40px;
}

.box-text2-main>p{
	margin-top: 20px;
}
.box-text2-main p.text1{
	margin-top: 0px;
}
.box-text2-main p.text2{
	margin-top: 40px;
}
.box-text2-main p.text2 img{
	margin: 0 auto;
}
.box-text2-main p.text3{
	margin-top: 30px;
}
.box-text2-main p.text6 img{
	margin: 0 auto;
}
.box-text3-main{
	background-color: #d4d4d4;
	margin-top: 40px;
	padding: 40px;
}
.box-text3-main>p{
	margin-top: 20px;
}
.box-text3-main p.text1{
	margin-top: 0px;
}
.box-text3-main p.text2{
	width: 440px;
}
.box-text3-main .box-btn{
	display: table;
	position: absolute;
	right: 40px;
	bottom: 40px;
}
.box-text3-main .box-btn a.btn{
	width: 190px;
}




