body{
/* 	color: #414141; */
	background-color: #fff;
	font-family: sans-serif, Tahoma ;
/* 	font-family: 'kaniga_patanaregular'; */
	font-size: 13px;
	padding-top: 119px;
/* 	padding-top: 35px; */
}
a.btn-top{
	width: 123px;
	height: 31px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	background: url(../images/th/btn-top.png) no-repeat center center #000;
}
a.btn-top:hover{
	background-color: #6e0904;
}

body.notFix{
	padding-top: 0px;
}
a{
	color: #414141;
}
.TcolorRed{
	color: #6e0904;
}
.TcolorGold{
	color: #b28f50;
}
.TcolorBlack{
	color: #000;
}
.TcolorGray{
	color: #878787;
}
.TcolorWhite{
	color: white;
}

.BcolorRed{
	background-color: #6e0904;
}
.BcolorBlack{
	background-color: #000;
}
.BcolorGold{
	background-color: #b39151;
}
.BcolorGray{
	background-color: #f2f2f2;
}
.BcolorGray2{
	background-color: #e0e0e0;
}

.BrcolorGray2{
	border-color: #e0e0e0;
}


hr {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
.Noborder{
	border: none !important;
}
.box-text .text-title{
	font-size: 18px;
	color: #6e0904;
	line-height: 27px;
	height: 54px;
	overflow: hidden;
}
.box-text .text-date{
	font-family: sans-serif;
	font-size: 11px;
}
.box-text .text-location{
	font-family: sans-serif;
	font-size: 14px;
}
.box-text .text-date:before{
	content: '';
	width: 10px;
	height: 11px;
	display: inline-block;
	background: url(../images/icon-cal.png) no-repeat;
	margin-right: 3px;
}
.box-text .text-location:before{
	content: '';
	width: 10px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-pin.png) no-repeat;
	margin-right: 3px;
	margin-right: 3px;
	vertical-align: sub;
}
.box-text .text-time:before{
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-clock.png) no-repeat center center;
	margin-right: 10px;
}
.box-text .text-date2:before{
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-cal2.png) no-repeat center center;
	margin-right: 10px;
}
.box-text .text-des{
	font-family: sans-serif;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.box-btn .btn{
	height: 31px;
	line-height: 31px;
	padding: 0 20px;
	text-transform: uppercase;
/* 	font-size: 18px; */
	display: table;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: left;
	text-align: center;
	width: 120px;
	font-family: sans-serif;
	font-size: 13px;
}
.box-btn .btn.red{
	background-color: #6e0904;
	color: #fff;
}
.box-btn .btn.red:hover{
	background-color: #000;
}
.box-btn .btn.black{
	background-color: #000;
	color: #fff;
}
.box-btn .btn.black:hover{
	background-color: #6e0904;
}
.box-btn .btn.gold{
	background-color: #b28f50;
	color: #000
}
.box-btn .btn.gold:hover{
	background-color: #000;
	color: #fff;
}
.box-btn .btn.b360{
	margin-right: 2px;
}
.box-btn .btn.b360:after{
	content: '';
	width: 35px;
	height: 17px;
	background: url(../images/icon-360.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.box-btn .box-btn-social a{
	width: 31px;
	height: 31px;
	display: block;
	float: left;
	margin: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box-btn .box-btn-social a.fb{
	background: url(../images/icon-fb.svg) no-repeat;
	margin: 0  7px 0 0;
}
.box-btn .box-btn-social a.fb:hover{
	background: url(../images/icon-fb-hover.svg) no-repeat;
}

.box-btn .box-btn-social a.tw{
	background: url(../images/icon-tw.svg) no-repeat;
}
.box-btn .box-btn-social a.tw:hover{
	background: url(../images/icon-tw-hover.svg) no-repeat;
}

.box-btn .box-btn-social{
	float: right;
}
.box-pic img{
	width: 100%;
}



/* --------------------------------------------------- Top Bar --------------------------------------------------- */

.part-top-bar{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 101;
	font-size: 12px;
	color: #cacaca;
	line-height: 23px;
}
.part-top-bar.notFix{
	position: relative;
}
.part-top-bar .box-top{
	background-color: #000;
	padding: 6px 0;
}
.box-lang{
	margin-left: 10px;
}
.box-lang a,
.box-lang img{
	float: left;
}
.box-lang img{
	margin: 0 8px;
}
.box-lang a{
	text-transform: uppercase;
	color: #cacaca;
}
.box-lang a:hover{
	text-decoration: underline;
}
.box-lang img{
	top: 4px;
}
.part-top-bar .box-top .box-right>div{
	float: left;
	padding: 0 14px;
	border-right: 1px solid #262626;
}
.box-btn-shopping a{
	color: #cacaca;
	line-height: 23px;
}
.box-btn-shopping a:hover{
	text-decoration: underline;
}
.box-btn-shopping a:before{
	content: '';
	width: 23px;
	height: 23px;
	display: block;
	float: left;
	background: url(../images/icon-cart.png) no-repeat;
	margin-right: 6px;
}
.part-top-bar .box-top .box-right .box-btn-social{
	padding: 0 2px;
}
.box-btn-social a{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	margin: 0 3px;
}
.box-btn-social a.fb{ background: url(../images/icon-fb.png) no-repeat; }
.box-btn-social a.tw{ background: url(../images/icon-tw.png) no-repeat; }
.box-btn-social a.yt{ background: url(../images/icon-youtube.png) no-repeat; }
.box-btn-social a.ig{ background: url(../images/icon-ig.png) no-repeat; }
.box-search{
	position: relative;
}
.box-search input[type="search"]{
	background: url(../images/icon-mag.png) #1a1a1a no-repeat;
	width: 150px;
	height: 23px;
	border: none;
	padding: 0 8px 0 33px;
	background-position: 6px 0;
	color: #cacaca;
	margin: 0;
	line-height: 23px;
}
.box-search input[type="submit"]{
    height: 24px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 24px;
    cursor: pointer;
}

.box-member>a{
	color: #cacaca;
	margin-right: 10px;
	text-transform: uppercase;
}
.box-member>a:hover{
	text-decoration: underline;
}
.box-member>a,
.box-member .box-pic{
	float: left;
}
.part-top-bar .box-top .box-right .box-member{
	padding-right: 0px;
	border-right: none;
}




/* --------------------------------------------------- Menu --------------------------------------------------- */

.part-menu{
	width: 100%;
	padding: 15px 0px;
	background-color: white;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-bottom: 1px solid #f5f5f5;
	position: fixed;
	z-index: 100;
	top: 35px;
}
body.notFix .part-menu{
	position: relative;
	top: 0px;
}
.part-menu.snapmenu{
	position: fixed;
	top: 35px;
	z-index: 100;
	padding: 0 0;
}
.box-menu .box-logo{
	float: left;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.part-menu.snapmenu .box-logo{
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
/*

.part-menu.snapmenu .box-logo img{
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
*/

.box-menu .box-logo img{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*
.part-menu.snapmenu .box-logo img{
	width: 180px;
	padding: 15px 0;
}
*/

.box-menu .menu{
	float: right;
}
ul.menutop{
	margin: 0px;
	padding: 0px;
}
ul.menutop li{
	font-size: 14px;
	text-transform: uppercase;
	float: left;
	position: relative;
	margin: 0 15px;
	padding: 10px 7px 0;
	line-height: 34px;
	border-bottom: 4px solid transparent;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.menutop li a{
	color: #000;
}
ul.menutop li.active{
	border-bottom: 4px solid #000;
}
ul.menutop li:hover a,
ul.menutop li.active a{
	color: rgb( 139, 14, 4 );
}
ul.submenu-top{
	position: absolute;
	right: 0px;
	width: 190px;
	z-index: 101;
	display: none;
	margin: 0px;
	padding: 0px;
	top: 48px;
	padding-top: 4px;
}
ul.submenu-top li{
	float: none;
	width: 100%;
	margin: 0px;
/* 	padding: 5px 13px 5px 29px; */
	padding: 5px 29px 5px 13px;
	background-color: #f4f4f4;
	border-right: 2px solid #454545;
	color: #454545;
	text-transform: capitalize;
	line-height: 25px;
	text-align: right;
	margin-bottom: 1px;
}
/*
ul.submenu-top li:before{
	content: '';
	display: block;
	width: 4px;
	height: 7px;
	background: url(../images/arrow-menu.png) no-repeat center center;
	position: absolute;
	left: 13px;
	top: 13px;
}
*/
ul.submenu-top li:after{
	content: '';
	display: block;
	width: 4px;
	height: 7px;
	background: url(../images/arrow-menu.png) no-repeat center center;
	position: absolute;
	right: 13px;
	top: 13px;
}
ul.submenu-top li:hover{
	color: #6f0905;
}


/* --------------------------------------------------- Footer --------------------------------------------------- */

.part-other{
	background-color: #fff;
}
.box-other-main{
	padding: 45px 0;
	border-top: 1px solid #d2d2d2;
}
.box-other-main .slide-other{
	width: 1130px;
	margin: 0 auto;
}
.box-other-main .box-other{
	width: 190px;
	margin: 0 auto;
}
.box-other-main .box-other:hover .text-name{
	color: #000;
}
.box-other-main .box-other .text-name{
	font-size: 16px;
	text-align: center;
	color: #6f0600;
	margin: 13px 0;

}
.part-other .btn-arrow{
	width: 31px;
	height: 31px;
	background: url(../images/icon-arrow-white.png) no-repeat center top #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	position: absolute;
	top: 130px;
}
.part-other .btn-arrow.left{
	background-position: -1px 0px;
	left: 5px;
}
.part-other .btn-arrow.right{
	background-position: 1px -29px;
	right: 5px;
}
.part-other .btn-arrow.left:hover,
.part-other .btn-arrow.right:hover{
	background-color: #6e0904;
}

.part-other .box-btn{
	display: table;
	margin: 15px auto 0;
}
.part-other .box-btn a{
	width: 175px;
	height: 35px;
	line-height: 35px;
}
.part-icon{
	background-color: #6f0600;
	border-top: 4px solid #000;
	padding: 35px 0;
}
.part-icon .box-icon-main{
	display: table;
	margin: 0 auto;
	text-align: center;
}
.part-icon .box-icon-main a{
/* 	float: left; */
	display: inline-block;
	margin: 10px 45px;
}
.part-muse{
	background-color: #5c0202;
}
.part-muse .box-muse{
	width: 480px;
	margin: 0 auto;
	padding: 15px 0px;
}
.part-muse input[type="text"] {
	width: 280px;
	height: 35px;
	border: none;
	padding: 0 12px;
	background-color: rgba(255, 255, 255, 0.15);
	margin: 0;
	color: #fff;
	line-height: 35px;
	font-style: italic;
}
.part-muse .box-btn .btn{
	width: inherit;
	height: 35px;
	line-height: 35px;
	width: 185px;
}



.part-copy{
	background-color: #000;
	padding: 10px 0;
}
.part-copy p{
	font-size: 11px;
	font-family: sans-serif;
	color: #808080;
	top: 15px;
}



/* --------------------------------------------------- Navigate --------------------------------------------------- */

.part-nav-main{
	background-color: #f4f4f4;
}
.box-nav ol{
	font-size: 12px;
/*
	font-family: sans-serif;
	font-size: 12px;
*/

}
.box-nav ol li{
	float: left;
	line-height: 32px;
	height: 32px;
}
.box-nav ol li a{
	display: inline-block;
}
.box-nav ol li img{
	vertical-align: baseline;
	display: inline-block;
}
.box-nav ol li:hover a,
.box-nav ol li.active{
	color: #8e070b;
}


/* --------------------------------------------------- Title Page --------------------------------------------------- */

.part-titlepage-main{
	width: 100%;
	padding: 40px 0 30px;
}
.box-titlepage{
	display: table;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	line-height: 40px;
}
.box-titlepage span{
	font-size: 30px;
	color: #8e070b;
}

.box-freespace{
	width: 100%;
	height: 40px;
}

.Search_image_thumb{
	width: 250px;
	height: 187px;
	background-color: #fff;
	background-position: center;
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-image: url('../images/logo_blank.svg');
	border: 1px solid #000;
}


