.box-left.main-content{
	width: 285px;
	margin-left: 10px;
}
.box-right.main-content{
	width: 880px;
	margin-right: 10px;
}
.box-left main-content>box-left>div,
.box-left main-content>box-right>div{
	width: 100%;
}


/* --------------------------------------------------- Part Left --------------------------------------------------- */

.part-left-title-page{
	margin-bottom: 20px;
}
.part-left-search .box-search{
	width: 100%;
	margin-bottom: 25px;
}
.part-left-search .box-search input[type="text"]{
	width: 100%;
	background: url(../images/icon-mag-black.png) #F4F4F4 no-repeat;
	height: 46px;
	border: none;
	padding: 0 8px 0 51px;
	background-position: 22px 15px;
	color: #000000;
	margin: 0;
	line-height: 46px;
	font-size: 15px;
}
.part-left-search ::-webkit-input-placeholder {
	color: #000;
}
.part-left-search :-moz-placeholder { /* Firefox 18- */
	color: #000;
}
.part-left-search ::-moz-placeholder {  /* Firefox 19+ */
	color: #000;
}
.part-left-search :-ms-input-placeholder {
	color: #000;
}

.box-menu-left{
	font-family: sans-serif;
	font-size: 14px;
}
.box-menu-left .menu-left{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.box-menu-left .menu-left li{
	position: relative;
}
.box-menu-left .menu-left li a{
	padding: 15px;
	border-bottom : 1px solid #eeeeee;
	line-height: 20px;
}
.box-menu-left .submenu-left{
	font-size: 13px;
	padding: 10px 0;
	display: none;
	border-bottom : 1px solid #eeeeee;
}
.box-menu-left .submenu-left li{
	padding: 0px 30px;
	margin: 0px;
	position: relative;
	font-size: 13px;
}
.box-menu-left .submenu-left li a{
	border: none;
	padding: 4px 0;
	margin: 0px;
}
.box-menu-left .submenu-left li a:before{
	content:'';
	display: block;
	width: 3px;
	height: 3px;
	background-color: #000;
	position: absolute;
	left: 0px;
	left: -13px;
	top: 12px;
}
.box-menu-left .menu-left>li>a:hover,
.box-menu-left .submenu-left>li>a:hover,
.box-menu-left .menu-left>li.active>a,
.box-menu-left .submenu-left>li.active>a{
	color: #8e070b;
}
.box-menu-left .submenu-left>li.active>a:before{
	background-color: #8e070b;
}
.box-menu-left .submenu-left>li>a:hover:before{
	background-color: #8e070b;
}
.box-menu-left .menu-left>li.active>a:before{
	content: '';
	width: 145px;
	height: 3px;
	background-color: #000;
	display: block;
	position: absolute;
	left: 7px;
	bottom: 0px;
}
.box-menu-left .menu-left>li.sub:after{
	content: '';
	width: 15px;
	height: 15px;
	background: url(../images/icon-plus.png) no-repeat center center;
	display: block;
	position: absolute;
	right: 0px;
	top: 17px;
}
.box-menu-left .menu-left>li.sub.active:after,
.box-menu-left .menu-left>li.sub.open:after{
	content: '';
	width: 15px;
	height: 15px;
	background: url(../images/icon-minus.png) no-repeat center center;
	display: block;
	position: absolute;
	right: 0px;
	top: 17px;
}


/* --------------------------------------------------- Part Right --------------------------------------------------- */

hr.line-red{
	width: 100%;
	height: 4px;
	background-color: #6e0904;
	border: none;
}
.box-right.main-content .box-title-system{
	width: 100%;
	margin: 20px 0 30px;
}
.box-right.main-content .box-title-system h1{
	font-size: 22px;
	float: left;
}
.box-right.main-content .box-title-system .box-btn {
	float: right;
/* 	margin-top: 5px; */
}
.box-right.main-content .box-title-system .box-btn .btn.red {
	height: 25px;
	line-height: 25px;
}
.box-btn-cart{
	margin-bottom: 30px;
}
.box-btn-cart .btn-cart{
	display: table;
	height: 43px;
	background-color: #000;
	color: #fff;
	line-height: 42px;
	font-size: 20px;
	text-align: center;
	padding: 0 66px 0 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: sans-serif;
	font-size: 13px;
}
.box-btn-cart .btn-cart:after{
	content: '';
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 43px;
	height: 43px;
	background: url(../images/icon-cart-white.png) no-repeat center center #6e0904;
}
.box-btn-cart .btn-cart:hover{
	background-color: #6e0904;
	color: #fff;
}
.box-btn-cart .btn-cart span{
	display: inline;
}
.box-right.main-content .box-title{
	width: 100%;
	margin-bottom: 20px;
	background-color: black;
	height: 52px;
	padding: 10px 15px 10px 20px;
}
.box-right.main-content .box-title h2{
	float: left;
	font-size: 18px;
	line-height: 33px;
	color: #fff;
}
.box-right.main-content .box-title .box-btn{
	float: right;
}
.box-right.main-content .box-title .box-btn .btn.gold:hover{
	background-color: #6e0904;
	color: #fff;
}
.box-right.main-content .box-category-main{
	margin-bottom: 20px;
}
.box-item-main{
	display: table;
	margin-bottom: 20px;
}
.box-item-main .item{
	width: 194px;
	float: left;
	margin: 13px;
}
.box-item-main .item .box-pic{
	width: 194px;
	height: 194px;
    white-space: nowrap;
    text-align: center;
}
.box-item-main .item .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.box-item-main .item .box-pic img {
    vertical-align: middle;
    max-height: 194px;
    max-width: 194px;
    display: inline-block;
}


.box-item-main .item .box-text{
	text-align: center;
}
.box-item-main .item .text-title{
	color: #000;
	font-family: inherit;
	line-height: initial;
	height: 48px;
	overflow: hidden;
	margin: 20px 0 5px;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.box-item-main .item .text-title:hover{
	color: #b28f50;
}

.box-item-main .item .text-price{
	font-size: 20px;
	color: #000;
	line-height: initial;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.box-item-main .item .text-price span{
	color: #cd0a00;
}



/* --------------------------------------------------- Pagination --------------------------------------------------- */

.box-pagination-main{
	width: 100%;
	margin: 0 auto;
	padding: 12px 0;
	border-top: 1px solid #eeeeee;
	font-size: 13px;
}
.box-pagination-main .box-btn{
	float: left;
}
.box-pagination-main .box-btn a{
	height: 25px;
	line-height: 25px;
}
ul.pagination{
	text-align: right;
	display: table;
	float: right;
}
ul.pagination li{
	display: inline-block;
	margin: 0 7px;
	height: 30px;
	line-height: 30px;
}
ul.pagination li.active a,
ul.pagination li a:hover{
	font-weight: bold;
	color: #8e070b;
}
ul.pagination li:first-child{
	margin-left: 0px;
}
ul.pagination li:last-child{
	margin-right: 0px;
}
ul.pagination li a.btn-arrow-left,
ul.pagination li a.btn-arrow-right{
	width: 30px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icon-arrow-gray.png) no-repeat center top #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.pagination li a.btn-arrow-left{
	background-position: -1px -1px;
	margin-left: 0px;
}
ul.pagination li a.btn-arrow-right{
	background-position: 1px -30px;
	margin-right: 0px;
}
ul.pagination li.deactive a.btn-arrow-left,
ul.pagination li.deactive a.btn-arrow-right{
	background: url(../images/icon-arrow-gray.png) no-repeat center top #e4e4e4;
}
ul.pagination li.deactive a.btn-arrow-left{
	background-position: -1px -1px;
}
ul.pagination li.deactive a.btn-arrow-right{
	background-position: 1px -30px;
}
ul.pagination li.deactive:hover a.btn-arrow-left{
	background: url(../images/icon-arrow-gray.png) no-repeat center top #e4e4e4;
	background-position: -1px -1px;
}
ul.pagination li.deactive:hover a.btn-arrow-right{
	background: url(../images/icon-arrow-gray.png) no-repeat center top #e4e4e4;
	background-position: 1px -30px;
}

ul.pagination li a.btn-arrow-left:hover,
ul.pagination li a.btn-arrow-right:hover{
	background: url(../images/icon-arrow-white.png) no-repeat center top #8e070b;
}
ul.pagination li a.btn-arrow-left:hover{
	background-position: -1px -1px;
}
ul.pagination li a.btn-arrow-right:hover{
	background: url(../images/icon-arrow-white.png) no-repeat center top #8e070b;
	background-position: 1px -30px;
}


/* --------------------------------------------------- Part Calendar Left --------------------------------------------------- */

.part-calendar{
	border-top: 4px solid #dadada;
	margin: 40px auto;
}
.part-calendar .box-top-date{
	width: 95px;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 8px;
}
.part-calendar .box-top-date .date{
	font-size: 80px;
	letter-spacing: 2px;
	line-height: 63px;
}
.part-calendar .box-top-date hr{
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	border: none;
	clear: both;
	margin: 10px 0;
}
.part-calendar .box-top-date .month-year{
	font-size: 18px;
	color: #6e0904;
}
.part-calendar .box-calendar .btn-arrow{
	width: 31px;
	height: 31px;
	background: url(../images/icon-arrow-gray2.png) no-repeat #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	position: absolute;
	bottom: 0px;
}
.part-calendar .box-calendar .btn-arrow.pev{
	background-position: -1px 0px;
	left: 0px;
}
.part-calendar .box-calendar .btn-arrow.next{
	background-position: 1px -29px;
	right: 0px;
}
.part-calendar .box-calendar .btn-arrow.pev:hover,
.part-calendar .box-calendar .btn-arrow.next:hover{
	background: url(../images/icon-arrow-white.png) no-repeat #6e0904;
}
.part-calendar .box-calendar .btn-arrow.pev:hover{
	background-position: -1px 0px;
}
.part-calendar .box-calendar .btn-arrow.next:hover{
	background-position: 1px -29px;
}


.part-conming-event .box-list-event{
	border-bottom: 1px solid #e5e5e5;
}
.part-conming-event .box-list-event .box-list{
	background-color: #f4f4f4;
	padding: 12px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 1px;
}
.part-conming-event .box-list-event .box-date-tumb{
	width: 44px;
	float: left;
}
.part-conming-event .box-list-event .box-date-tumb{
	background-color: #6e0904;
	text-align: center;
	color: #fff;
}
.part-conming-event .box-list-event .box-date-tumb p.date{
	font-size: 30px;
	height: 35px;
	line-height: 36px;
}
.part-conming-event .box-list-event .box-date-tumb p.month{
	background-color: #000;
	font-size: 10px;
	height: 15px;
	line-height: 15px;
}
.part-conming-event .box-list-event .box-text{
	float: right;
	width: 200px;
}
.part-conming-event .box-list-event .box-text .text-title{
	font-size: 13px;
	line-height: 17px;
	height: 34px;
	overflow: hidden;
	margin-bottom: 3px;
}
.part-conming-event .box-btn{
	display: table;
	margin: 20px auto;
}
.part-conming-event .box-btn a{
	width: inherit;
}



/* --------------------------------------------------- Arrow Slide Big --------------------------------------------------- */

.box-social-main{
	width: 100%;
	text-align: right;
	margin-bottom: 10px;
}
.box-social-main>a{
	width: 31px;
	height: 31px;
	display: inline-block;
	margin-left: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box-social-main a.fb{
	background: url(../images/icon-fb.svg) no-repeat;
}
.box-social-main a.tw{
	background: url(../images/icon-tw.svg) no-repeat;
}
.box-social-main a.g{
	background: url(../images/icon-g.svg) no-repeat;
}
.box-social-main a.line{
	background: url(../images/icon-line.svg) no-repeat;
}
.box-social-main a.fb:hover{
	background: url(../images/icon-fb-hover.svg) no-repeat;
}
.box-social-main a.tw:hover{
	background: url(../images/icon-tw-hover.svg) no-repeat;
}
.box-social-main a.g:hover{
	background: url(../images/icon-g-hover.svg) no-repeat;
}
.box-social-main a.line:hover{
	background: url(../images/icon-line-hover.svg) no-repeat;
}



/* --------------------------------------------------- News & Event --------------------------------------------------- */

.box-category-main.news .box-title{
	margin-bottom: 0px;
}
.box-news-main{
	border: 4px solid #000;
	padding: 0 29px;
}
.box-news-main.gray{
	background-color: #f8f8f8;
	padding: 0 11px;
}
.box-tumb {
	width: 250px;
	float: left;
	margin: 30px 0px;
}
.box-tumb.mid{
	margin: 30px 32px;
}
.box-tumb .box-text .text-title{
	line-height: 27px;
	height: 54px;
	overflow: hidden;
	margin-top: 10px;
}
.box-tumb .box-text .text-title:hover{
	color: #000;
}
.box-tumb .box-text .text-date {
	margin: 10px 0;
}
.box-tumb .box-text .text-des{
	margin-bottom: 15px;
	height: 60px;
	overflow: hidden;
}
.box-tumb .box-pic .box-tag-cate {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0px;
    bottom: 0px;
    width: 100%;
    line-height: 27px;
    font-size: 14px;
    color: #fff;
    padding: 0 10px 0 30px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.box-tumb .box-date-tumb{
	width: 65px;
	display: inline-block;
	top: -25px;
}
.box-tumb .box-date-tumb{
	background-color: #6e0904;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
}
.box-tumb .box-date-tumb p.date{
	font-size: 44px;
	height: 50px;
	line-height: 50px;
}
.box-tumb .box-date-tumb p.month{
	background-color: #000;
	font-size: 14px;
	height: 22px;
	line-height: 20px;
}


.box-tumb-main hr{
	margin: 5px 0;
	clear: both;
	float: left;
}
.box-notice{
	padding: 10px 140px 15px 50px;
	border-bottom: 1px solid #e5e5e5;
}
.box-notice:last-child{
	border-bottom: none;
}
.box-notice.iconFile:before{
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 3px;
	top: 16px;
	background-repeat: repeat-y;
	background-position: center;
	background-image: url(../images/icon-file.png);
}
.box-notice.video:before{
	background-position: center 580px;
}
.box-notice.sound:before{
	background-position: center 430px;
}
.box-notice.word:before{
	background-position: center 655px;
}
.box-notice.excel:before{
	background-position: center 280px;
}
.box-notice.pdf:before{
	background-position: center 810px;
}
.box-notice.txt:before{
	background-position: center 505px;
}
.box-notice.powerpoint:before{
	background-position: center 355px;
}
.box-notice.zip:before{
	background-position: center 735px;
}
.box-notice.file:before{
	background-position: center 200px;
}
.box-notice.image:before{
	background-position: center 130px;
}
.box-notice.swf:before{
	background-position: center 55px;
}
.box-notice .text-title{
	font-size: 13px;
	color: #000;
	margin: 0px;
	height: inherit;
	overflow: inherit;
	margin-bottom: 5px;
}
.box-notice .text-detail{
	color: #606060;
	text-transform: uppercase;
}
.box-notice .text-detail span{
	margin-right: 15px;
	display: inline-block;
}
.box-notice .box-btn{
	display: block;
	position: absolute;
	right: 0px;
	top: 20px;
}

/* --------------------------------------------------- News Detail --------------------------------------------------- */

.box-title-system.news span{
	display: inline-block;
	text-transform: uppercase;
	color: #6e0904;
	font-size: 40px;
}
.box-title-system.news .box-btn{
/* 	margin-top: 7px; */
}
.box-title-system.news .box-btn a{
	width: inherit;
}
.box-title-main{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 0 20px 10px;
}
.box-title-main:before{
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	height: 65px;
	left: 0px;
}
.box-title-main .box-date-tumb{
	width: 65px;
	display: inline-block;
	top: -6px;
}
.box-title-main .box-date-tumb{
	background-color: #6e0904;
	text-align: center;
	color: #fff;
}
.box-title-main .box-date-tumb p.date{
	font-size: 44px;
	height: 50px;
	line-height: 50px;
}
.box-title-main .box-date-tumb p.month{
	background-color: #000;
	font-size: 14px;
	height: 22px;
	line-height: 20px;
}
.box-title-main .box-text{
	display: inline-block;
	left: -4px;
	width: 550px;
}
.box-title-main .box-text p.text-title{
	height: inherit;
	padding: 5px 20px;
	background-color: #000;
	color: #fff;
}
.box-title-main .box-text p.text-des{
	line-height: 27px;
	color: #fff;
	padding-left: 20px;
	min-height: 27px;
}
.box-title-main .box-text p.text-des.pin{

}
.box-title-main .box-text p.text-des.pin:before{
	content: '';
	width: 10px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-pin.png) no-repeat;
	margin-right: 10px;
	vertical-align: sub;
}

.box-newsdetail-main{
	width: 754px;
	margin: 0 auto;
}
.part-tumb-main{
	width: 100%;
	border: 4px solid #000;
	padding: 15px 0;
}
.part-tumb-main .text-title{
	padding: 0 20px;
	margin-bottom: 15px;
}
.part-tumb-main .text-title p{
	float: left;
	display: table;
	line-height: 31px;
	font-size: 18px;
}
.part-tumb-main .box-btn{
	float: right;
}
.part-tumb-main .owl-theme .owl-controls{
	margin-top: 15px;
	padding: 0 9px;
}
.box-news-text{
	padding: 30px 25px;
	line-height: 20px;
	font-size: 14px;
	line-height: 25px;
	color: #666;
}
.box-newsdetail-main > .box-news-text h1 ,
.box-newsdetail-main > .box-news-text h2 ,
.box-newsdetail-main > .box-news-text h3 ,
.box-newsdetail-main > .box-news-text h4 ,
.box-newsdetail-main > .box-news-text h5 ,
.box-newsdetail-main > .box-news-text h6 ,
.box-newsdetail-main > .box-news-text strong ,
.box-newsdetail-main > .box-news-text b ,
.box-newsdetail-main > .box-news-text i{
	font-weight: bold;
}
.box-newsdetail-main > .box-news-text h1 ,
.box-newsdetail-main > .box-news-text h2 ,
.box-newsdetail-main > .box-news-text h3 ,
.box-newsdetail-main > .box-news-text h4 ,
.box-newsdetail-main > .box-news-text h5 ,
.box-newsdetail-main > .box-news-text h6 ,
.box-newsdetail-main > .box-news-text strong ,
.box-newsdetail-main > .box-news-text b ,
.box-newsdetail-main > .box-news-text i{
	display: inline;
}
.box-newsdetail-main > .box-news-text a{
	display: inline !important;
	color: #B28F50;
}
.box-newsdetail-main > .box-news-text a:hover{
	text-decoration: underline;
}

.box-newsdetail-main > .box-news-text h1{ font-size: 22px;}
.box-newsdetail-main > .box-news-text h2{ font-size: 20px;}
.box-newsdetail-main > .box-news-text h3{ font-size: 19px;}
.box-newsdetail-main > .box-news-text h4{ font-size: 18px;}
.box-newsdetail-main > .box-news-text h5{ font-size: 17px;}
.box-newsdetail-main > .box-news-text h6{ font-size: 16px;}
.box-footer-content{
	margin-bottom: 30px;
}
.box-date-modified{
	padding: 0 25px;
	width: 50%;
	float: left;
	color: #666;
}
.box-plugin-social{
	padding: 0 25px;
	text-align: right;
	width: 50%;
	float: right;
}
.box-plugin-social > iframe , .box-plugin-social > span{
	display: inline-block;
}
.part-btn-back{
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #eeeeee;
}
.part-btn-back .box-btn a{
	width: inherit;
	float: right;
	height: 25px;
	line-height: 25px;
}
.box-when{
	margin-top: 30px;
}
.box-when,.box-ticket{
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px 25px 10px;
	margin-bottom: 1px;
}
.box-when h3,.box-ticket h3{
	line-height: 31px;
	font-size: 18px;
	color: #6e0904;
}
.box-when p,.box-ticket p{
	font-style: italic;
	margin: 10px 0;
	padding-left: 35px;
	font-size: 14px;
	line-height: 25px;
}
.box-when p.text-date:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-cal2.png) no-repeat center center;
	position: absolute;
	left: 6px;
	top: 3px;
}
.box-when p.text-time:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-clock.png) no-repeat center center;
	position: absolute;
	left: 6px;
	top: 3px;
}
.box-when p.text-location:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-pin2.png) no-repeat center center;
	position: absolute;
	left: 6px;
	top: 3px;
}
.box-ticket p.text-ticket:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/icon-money.png) no-repeat center center;
	position: absolute;
	left: 6px;
	top: 3px;
}





/* --------------------------------------------------- Slide Big --------------------------------------------------- */
#sync1{
	width: 754px;
	height: 562px;
	margin: 0 auto 10px;
	background-color: #000;
}
#sync1 img{
	width: auto;
	height: 562px;
	margin: 0 auto;
}
#sync1 .cp-container{
	margin: 150px auto 0;
}
/* --------------------------------------------------- Arrow Slide Big --------------------------------------------------- */
.box-slide-big a.btn-arrow-slide{
	width: 30px;
	height: 72px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #000;
	position: absolute;
	top: 238px;
}
.box-slide-big a.btn-arrow-slide.pev{
	left: -30px;
}
.box-slide-big a.btn-arrow-slide.next{
	right: -30px;
}
.box-slide-big a.btn-arrow-slide:before{
	content: '';
	width: 30px;
	height: 29px;
	display: block;
	background: url(../images/icon-arrow-gray.png) no-repeat center top #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	top: 22px;
}
.box-slide-big a.btn-arrow-slide.pev:before{
	background-position: -1px -1px;
}
.box-slide-big a.btn-arrow-slide.next:before{
	background-position: 1px -30px;
}
.box-slide-big a.btn-arrow-slide:hover{
	background-color: #6e0904;
}
.box-slide-big a.btn-arrow-slide:hover:before{
	background: url(../images/icon-arrow-white.png) no-repeat center top #000;
	background-color: #6e0904;
}
.box-slide-big a.btn-arrow-slide.pev:before{
	background-position: -1px -1px;
}
.box-slide-big a.btn-arrow-slide.next:before{
	background-position: 1px -30px;
}


/* --------------------------------------------------- Slide Small --------------------------------------------------- */
#sync2{
	width: 725px;
	margin: 0 auto;
}
#sync2 .slide-content{
	width: 125px;
	height: 94px;
	margin: 0 auto;
	background-color: black;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}
#sync2 .owl-item.synced .slide-content{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#sync2 .slide-content img{
	width: 125px;
	height: 94px;
	margin: 0 auto;
	filter: alpha(opacity=50);
	opacity: .5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#sync2 .owl-item .slide-content:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border: 4px solid transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
}
#sync2 .owl-item .slide-content:hover:after,
#sync2 .owl-item.synced .slide-content:after{
	border: 4px solid #6e0904;
}
#sync2 .owl-item .slide-content:hover img,
#sync2 .owl-item.synced .slide-content img{
	filter: alpha(opacity=100);
	opacity: 1;
}

/* --------------------------------------------------- News Detail --------------------------------------------------- */


.box-category-main.BWhite .box-news-main{
	border-color: transparent;
}
.result-list{
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0;
}
.result-list .box-left{
	width: 650px;
}
.result-list .box-left .text-title{
	height: 27px;
	overflow: hidden;
	margin-bottom: 10px;
	color: #6e0904;
}
.result-list .box-left .text-title:hover{
	color: #000;
}
.result-list .box-btn{
	display: table;
	float: right;
}

/* --------------------------------------------------- News Detail --------------------------------------------------- */

.box-otherfile-main{
	margin-bottom: 30px;
}

/* --------------------------------------------------- Calendar --------------------------------------------------- */
.no-conming-event{

}
#datepicker{
	margin: 10px auto 0px auto;
}
#datepicker .ui-widget-header{
	background-color: #6e0904;
	background-image: none;
	border-radius: 0px;
	border: none;
}
#datepicker .ui-datepicker{
	width: 100%;
}
#datepicker .ui-widget-content{
	border: none;
}
.ui-datepicker-month , .ui-datepicker-year{
	display: inline;
}
table.ui-datepicker-calendar{
	display: table;
}
table.ui-datepicker-calendar thead{
	display: table-header-group;
}
table.ui-datepicker-calendar tbody{
	display: table-row-group;
}
table.ui-datepicker-calendar tr{
	display: table-row;
}
table.ui-datepicker-calendar th ,table.ui-datepicker-calendar td{
	display: table-cell;
	font-size: 1em;
}
table.ui-datepicker-calendar th{
	background-color: #e3e3e3;
	color: #6e0904;
}
.ui-datepicker-calendar a.ui-state-default{
	background: none;
	border:none;
	color: #141414;
}
.ui-datepicker-calendar a.ui-state-active{
	background-color: #6e0904;
	color: #fff;
}
table.ui-datepicker-calendar td.highlight > a {
	border-bottom: 2px #cccccc solid;
	box-sizing: border-box;
}
.ui-datepicker td span, .ui-datepicker td a {
    margin: 4px 0;
    padding: 0.4em;
}