.box-category-main.BBlack .box-news-main{
	background-color: #000;
}
.box-category-main.BBlack .box-tumb .text-title{
	color: #ccc;
}
.box-category-main.BBlack .box-tumb .text-date,
.box-category-main.BBlack .box-tumb .text-des{
	color: #878787;
}
.box-category-main.BBlack .box-tumb .text-title:hover{
	color: #b28f50;
}
.box-category-main.BBlack .box-tumb .box-btn a.btn.red:hover {
	background-color: #b28f50;
	color: #000;
}
.box-category-main.BGray .box-title{
	background-color: #e0e0e0;
}
.box-category-main.BGray .box-title h2{
	color: #6e0904;
}
.box-category-main.BGray .box-news-main{
	border-color: #e0e0e0;
}
.box-category-main.BGray2 .box-title{
	background-color: #e0e0e0;
}
.box-category-main.BGray2 .box-title h2{
	color: #6e0904;
}
.box-category-main.BGray2 .box-news-main{
	border-color: #e0e0e0;
	background-color: #e0e0e0;
}
.box-category-main.BRed .box-title{
	background-color: #6e0904;
}
.box-category-main.BRed .box-title h2{
	color: #fff;
}
.box-right.main-content .box-category-main.BRed .box-btn .btn.gold:hover{
	background-color: #000;
}
.box-category-main.BRed .box-text .text-title
,.box-category-main.BRed .box-text .text-des{
	color: #fff;
}
.box-category-main.BRed .box-text .text-title:hover{
	color: #b28f50;
}
.box-right.main-content .box-category-main.BRed .box-text .box-btn .btn.black:hover{
	background-color: #b28f50;
	color: #000;
}
.box-category-main.BRed .box-news-main{
	border-color: #6e0904;
	background-color: #6e0904;
}


.box-category-main.BRed2 .box-title{
	background-color: #6e0904;
}
.box-category-main.BRed2 .box-title h2{
	color: #fff;
}
.box-right.main-content .box-category-main.BRed2 .box-btn .btn.gold:hover{
	background-color: #000;
}
.box-right.main-content .box-category-main.BRed2 .box-text .box-btn .btn.black:hover{
	background-color: #b28f50;
	color: #000;
}
.box-category-main.BRed2 .box-news-main{
	border-color: #6e0904;
}


.box-row-content .box-left .box-tumb.left{
	margin-right: 20px;
}
.box-row-content .box-left .box-news-main,
.box-row-content .box-right .box-news-main{
	padding: 0 18px;
}

.box-category-main.BBlack.w100 .box-news-main{
	padding: 0;
}
.box-category-main.BBlack.w100 .box-tumb{
	margin: 0;
	width: 100%;
}
.box-category-main.BBlack.w100 .box-tumb .box-pic{
	float: left;
	width: 572px;
	height: 394px;
	overflow: hidden;
}
.box-category-main.BBlack.w100 .box-tumb .box-text{
	float: right;
	width: 300px;
	height: 394px;
	padding: 20px;
	display: table;
}
.box-category-main.BBlack.w100 .box-tumb .box-text .wrap{
	display: table-cell;
	vertical-align: bottom;
}

.box-category-main.BBlack.w100.per .box-news-main{
	padding: 0;
}
.box-category-main.BBlack.w100.per .box-tumb{
	margin: 0;
	width: 100%;
}
.box-category-main.BBlack.w100.per .box-tumb .box-pic{
	float: none;
	    width: 872px;
	    height: 598px;
	overflow: hidden;
}
.box-category-main.BBlack.w100.per .box-tumb .box-text{
	float: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	    height: 598px;
	padding: 20px;
	display: table;
	background-color: rgba(0, 0, 0, 0.8);
}
.box-category-main.BBlack.w100 .box-tumb .box-text .wrap{
	display: table-cell;
	vertical-align: bottom;
}



