@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-Regular.eot');
  src: url('ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-Regular.woff2') format('woff2'),
       url('ThaiSansNeue-Regular.woff') format('woff'),
       url('ThaiSansNeue-Regular.ttf') format('truetype'),
       url('ThaiSansNeue-Regular.svg#ThaiSansNeue-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-Italic.eot');
  src: url('ThaiSansNeue-Italic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-Italic.woff2') format('woff2'),
       url('ThaiSansNeue-Italic.woff') format('woff'),
       url('ThaiSansNeue-Italic.ttf') format('truetype'),
       url('ThaiSansNeue-Italic.svg#ThaiSansNeue-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-UltraLight.eot');
  src: url('ThaiSansNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-UltraLight.woff2') format('woff2'),
       url('ThaiSansNeue-UltraLight.woff') format('woff'),
       url('ThaiSansNeue-UltraLight.ttf') format('truetype'),
       url('ThaiSansNeue-UltraLight.svg#ThaiSansNeue-UltraLight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-UltraLightItalic.eot');
  src: url('ThaiSansNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-UltraLightItalic.woff2') format('woff2'),
       url('ThaiSansNeue-UltraLightItalic.woff') format('woff'),
       url('ThaiSansNeue-UltraLightItalic.ttf') format('truetype'),
       url('ThaiSansNeue-UltraLightItalic.svg#ThaiSansNeue-UltraLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-ExtraLight.eot');
  src: url('ThaiSansNeue-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-ExtraLight.woff2') format('woff2'),
       url('ThaiSansNeue-ExtraLight.woff') format('woff'),
       url('ThaiSansNeue-ExtraLight.ttf') format('truetype'),
       url('ThaiSansNeue-ExtraLight.svg#ThaiSansNeue-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-ExtraLightItalic.eot');
  src: url('ThaiSansNeue-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-ExtraLightItalic.woff2') format('woff2'),
       url('ThaiSansNeue-ExtraLightItalic.woff') format('woff'),
       url('ThaiSansNeue-ExtraLightItalic.ttf') format('truetype'),
       url('ThaiSansNeue-ExtraLightItalic.svg#ThaiSansNeue-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-Light.eot');
  src: url('ThaiSansNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-Light.woff2') format('woff2'),
       url('ThaiSansNeue-Light.woff') format('woff'),
       url('ThaiSansNeue-Light.ttf') format('truetype'),
       url('ThaiSansNeue-Light.svg#ThaiSansNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-LightItalic.eot');
  src: url('ThaiSansNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-LightItalic.woff2') format('woff2'),
       url('ThaiSansNeue-LightItalic.woff') format('woff'),
       url('ThaiSansNeue-LightItalic.ttf') format('truetype'),
       url('ThaiSansNeue-LightItalic.svg#ThaiSansNeue-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-SemiBold.eot');
  src: url('ThaiSansNeue-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-SemiBold.woff2') format('woff2'),
       url('ThaiSansNeue-SemiBold.woff') format('woff'),
       url('ThaiSansNeue-SemiBold.ttf') format('truetype'),
       url('ThaiSansNeue-SemiBold.svg#ThaiSansNeue-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-SemiBoldItalic.eot');
  src: url('ThaiSansNeue-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-SemiBoldItalic.woff2') format('woff2'),
       url('ThaiSansNeue-SemiBoldItalic.woff') format('woff'),
       url('ThaiSansNeue-SemiBoldItalic.ttf') format('truetype'),
       url('ThaiSansNeue-SemiBoldItalic.svg#ThaiSansNeue-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-Bold.eot');
  src: url('ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-Bold.woff2') format('woff2'),
       url('ThaiSansNeue-Bold.woff') format('woff'),
       url('ThaiSansNeue-Bold.ttf') format('truetype'),
       url('ThaiSansNeue-Bold.svg#ThaiSansNeue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-BoldItalic.eot');
  src: url('ThaiSansNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-BoldItalic.woff2') format('woff2'),
       url('ThaiSansNeue-BoldItalic.woff') format('woff'),
       url('ThaiSansNeue-BoldItalic.ttf') format('truetype'),
       url('ThaiSansNeue-BoldItalic.svg#ThaiSansNeue-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-ExtraBold.eot');
  src: url('ThaiSansNeue-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-ExtraBold.woff2') format('woff2'),
       url('ThaiSansNeue-ExtraBold.woff') format('woff'),
       url('ThaiSansNeue-ExtraBold.ttf') format('truetype'),
       url('ThaiSansNeue-ExtraBold.svg#ThaiSansNeue-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-ExtraBoldItalic.eot');
  src: url('ThaiSansNeue-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-ExtraBoldItalic.woff2') format('woff2'),
       url('ThaiSansNeue-ExtraBoldItalic.woff') format('woff'),
       url('ThaiSansNeue-ExtraBoldItalic.ttf') format('truetype'),
       url('ThaiSansNeue-ExtraBoldItalic.svg#ThaiSansNeue-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-UltraBold.eot');
  src: url('ThaiSansNeue-UltraBold.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-UltraBold.woff2') format('woff2'),
       url('ThaiSansNeue-UltraBold.woff') format('woff'),
       url('ThaiSansNeue-UltraBold.ttf') format('truetype'),
       url('ThaiSansNeue-UltraBold.svg#ThaiSansNeue-UltraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ThaiSansNeue';
  src: url('ThaiSansNeue-UltraBoldItalic.eot');
  src: url('ThaiSansNeue-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('ThaiSansNeue-UltraBoldItalic.woff2') format('woff2'),
       url('ThaiSansNeue-UltraBoldItalic.woff') format('woff'),
       url('ThaiSansNeue-UltraBoldItalic.ttf') format('truetype'),
       url('ThaiSansNeue-UltraBoldItalic.svg#ThaiSansNeue-UltraBoldItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}